@import './mixins.scss';
@import './variables.scss';


.login{
    @include df(row,flex-start,center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    ;

    &__container{
        @include df(column,center);
        width: 600px;
        min-height: 420px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 60px;
      
    }

    &__logo{
        width: 150px;
        height: 42px;
        margin-bottom: 25px;
    }

    &__form{
        @include df(column,center);
        gap: 20px;
        width: 100%;
    }

    &__heading{
        font-size: 32px;
        margin-bottom: 20px;
        color: $video-heading-color;
    }

    &__input{
        width: 100%;
        height: 60px;
        padding-left: 15px;
        font-size: 18px;
        outline: none;
        border-radius: 8px;
        border: none;
        background-color: rgb(235, 236, 238);
    }

    &__btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: rgb(82, 171, 239);
        font-size: 20px;
        font-weight: bolder;
        color: $white;
        cursor: pointer;
    }
}