@import './mixins.scss';
@import './variables.scss';
.private{
    margin-bottom: 49px;
    &__container{
        @include df();
        width: 100%;
    }

    &__upper__box{
        width: 100%;
        padding-right: 150px;
        @include df(row,flex-end,space-between);
        margin-bottom: 28px;
    }

    &__title__box{
        @include df(row,center);
        gap: 20px;
    }

    &__avagtar__img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__account__name{
        font-size: 26px;
        color: #19202C;
        line-height: 32px;
    }

    &__custom__btn__box{
        @include df(row,center);
        gap: 10px;
    }

    &__custom__btn{
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $like-gray;
        border: none;
        outline: none;
        &:hover{
            background-color: #696454;
        }
    }


    &__navigation__icon{
        color: white;
       transform: scale(1.5);
    }
    
    &__swiper{
        display: flex !important;
        @include df(column-reverse);
        width: 100%;
    }

    &__video__image__box{
        position: relative;
        margin-bottom: 10px;
        width: 100%;
    }

    &__video__img{
        width: 100%;
        height: 150px;
        border-radius: 20px;
    }

    &__video__duration{
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-color: #0000004d;
        padding: 3px 9px;
        border-radius: 12px;
        color: white;
        font-size: 14px;
        line-height: 17.5px;
    }

    &__video__name{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4px;
        color: $video-heading-color;
    }

    &__more__info__box{
        width: 100%;
        @include df(row,center,space-between);
        font-size: 13px;
        line-height: 16px;
        color: $video-view-color;
    }
}

.swiper-slide {
    @include df();
    font-size: 18px;
    background: white;
    width: 250px ;
    min-height: 200px !important;
}

.link{
    width: 100% !important;
}